<md-card class="property-card">
  <md-card-header [style.background]="property.agency.brandingColors.primary">
    <md-card-header-text>
    </md-card-header-text>
    <md-card-avatar>
      <img src="{{property.agency.logo}}">
    </md-card-avatar>
  </md-card-header>
  <md-card-content class="property-card-content">
    <img class="property-card-avatar-background" src="{{property.mainImage}}" alt="">
  </md-card-content>
  <md-card-actions>
    <span class="property-card-caption">
      <span class="property-card-price">Price: {{property.price}}</span>
      <button md-button class="property-card-add-button" *ngIf="!property.isSaved">add property</button>
      <button md-button class="property-card-remove-button" *ngIf="property.isSaved">remove property</button>
    </span>
  </md-card-actions>
</md-card>
