.property-card-avatar-background {
  min-width: 100%;
  max-width: 100%;
}

.property-card {
  position: relative;
}

.property-card:hover {
  background-color: darkgrey;
}

.property-card:hover button {
  display: block;
}

.property-card-content {
  position: relative;
  text-align: center;
}

.property-card-caption {
  padding: 15px;
}

.property-card-price {
  position: absolute;
  bottom: 15px;
}

.property-card-add-button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: #21ba45;
  display: none;
  border: 1px 1px 1px 1px;
}

.property-card-add-button:hover {
  background-color: #21ba45;
}

.property-card-remove-button {
  position: absolute;
  right: 20px;
  bottom: 10px;
  background-color: #db2828;
  display: none;
  border: 1px 1px 1px 1px;
}

.property-card-remove-button:hover {
  background-color: #db2828;
}
