.property-flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: lightgrey;
}

.property-flex-item {
    background-color: cornflowerblue;
    width: 50%;
    margin: 10px;
    border-radius: 10px;
}

.property-flex-header {
    background-color: cornflowerblue;
    width: 50%;
    margin: 10px;
    padding: 10px;
}

.property-flex-content {
  padding: 10px;
}
